# coding: utf-8

"""
    public-v2-prd-gb-01

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2016-08-19T00:00:00Z
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class MarketingpreferencesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_client_marketing_preferences(self, authorization, client_id, x_api_key, **kwargs):  # noqa: E501
        """Returns client's current marketing preferences.  # noqa: E501

        Use this endpoint to return  a client's marketing preferences broken down by medium where appropriate.  A successful response (200) will return client's  marketing preferences document.  If a client has not yet provided their preferences and/or consent, the returned preferences will be defaulted to a suitable privacy configuration.  The returned configuration should be adhered to regardless of whether consent has been given yet or not.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_client_marketing_preferences(authorization, client_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: (required)
        :param int client_id: Client identifier. The special value 'me' can be used to indicate the authenticated user. (required)
        :param str x_api_key: (required)
        :param str accept:
        :return: ClientMarketingPreferences
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_client_marketing_preferences_with_http_info(authorization, client_id, x_api_key, **kwargs)  # noqa: E501
        else:
            (data) = self.get_client_marketing_preferences_with_http_info(authorization, client_id, x_api_key, **kwargs)  # noqa: E501
            return data

    def get_client_marketing_preferences_with_http_info(self, authorization, client_id, x_api_key, **kwargs):  # noqa: E501
        """Returns client's current marketing preferences.  # noqa: E501

        Use this endpoint to return  a client's marketing preferences broken down by medium where appropriate.  A successful response (200) will return client's  marketing preferences document.  If a client has not yet provided their preferences and/or consent, the returned preferences will be defaulted to a suitable privacy configuration.  The returned configuration should be adhered to regardless of whether consent has been given yet or not.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_client_marketing_preferences_with_http_info(authorization, client_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: (required)
        :param int client_id: Client identifier. The special value 'me' can be used to indicate the authenticated user. (required)
        :param str x_api_key: (required)
        :param str accept:
        :return: ClientMarketingPreferences
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'client_id', 'x_api_key', 'accept']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_client_marketing_preferences" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_client_marketing_preferences`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `get_client_marketing_preferences`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `get_client_marketing_preferences`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/marketing_preferences', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ClientMarketingPreferences',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_lead_marketing_preferences(self, authorization, lead_id, x_api_key, **kwargs):  # noqa: E501
        """Returns lead's current marketing preferences.  # noqa: E501

        Use this endpoint to return  a lead's marketing preferences broken down by medium where appropriate.  A successful response (200) will return lead's  marketing preferences document.  If a lead has not yet provided their preferences and/or consent, the returned preferences will be defaulted to a suitable privacy configuration.  The returned configuration should be adhered to regardless of whether consent has been given yet or not.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_lead_marketing_preferences(authorization, lead_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: (required)
        :param int lead_id: Lead identifier. The special value 'me' can be used to indicate the authenticated user. (required)
        :param str x_api_key: (required)
        :param str accept:
        :return: LeadMarketingPreferences
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_lead_marketing_preferences_with_http_info(authorization, lead_id, x_api_key, **kwargs)  # noqa: E501
        else:
            (data) = self.get_lead_marketing_preferences_with_http_info(authorization, lead_id, x_api_key, **kwargs)  # noqa: E501
            return data

    def get_lead_marketing_preferences_with_http_info(self, authorization, lead_id, x_api_key, **kwargs):  # noqa: E501
        """Returns lead's current marketing preferences.  # noqa: E501

        Use this endpoint to return  a lead's marketing preferences broken down by medium where appropriate.  A successful response (200) will return lead's  marketing preferences document.  If a lead has not yet provided their preferences and/or consent, the returned preferences will be defaulted to a suitable privacy configuration.  The returned configuration should be adhered to regardless of whether consent has been given yet or not.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_lead_marketing_preferences_with_http_info(authorization, lead_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: (required)
        :param int lead_id: Lead identifier. The special value 'me' can be used to indicate the authenticated user. (required)
        :param str x_api_key: (required)
        :param str accept:
        :return: LeadMarketingPreferences
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'lead_id', 'x_api_key', 'accept']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_lead_marketing_preferences" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_lead_marketing_preferences`")  # noqa: E501
        # verify the required parameter 'lead_id' is set
        if ('lead_id' not in params or
                params['lead_id'] is None):
            raise ValueError("Missing the required parameter `lead_id` when calling `get_lead_marketing_preferences`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `get_lead_marketing_preferences`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'lead_id' in params:
            path_params['leadId'] = params['lead_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/leads/{leadId}/marketing_preferences', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LeadMarketingPreferences',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_client_marketing_preferences(self, body, authorization, x_api_key, client_id, **kwargs):  # noqa: E501
        """Updates client's marketing preferences.  # noqa: E501

        Use this endpoint to updates a client's marketing preferences broken down by medium where appropriate.  A successful response (200) will return updated client's  marketing preferences document.  If a client has not yet provided their preferences and/or consent, new preferences will be created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_client_marketing_preferences(body, authorization, x_api_key, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ClientMarketingPreferences body: Client Marketing Preferences document. (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param int client_id: Client identifier. The special value 'me' can be used to indicate the authenticated user. (required)
        :param str accept:
        :return: ClientMarketingPreferences
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_client_marketing_preferences_with_http_info(body, authorization, x_api_key, client_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_client_marketing_preferences_with_http_info(body, authorization, x_api_key, client_id, **kwargs)  # noqa: E501
            return data

    def update_client_marketing_preferences_with_http_info(self, body, authorization, x_api_key, client_id, **kwargs):  # noqa: E501
        """Updates client's marketing preferences.  # noqa: E501

        Use this endpoint to updates a client's marketing preferences broken down by medium where appropriate.  A successful response (200) will return updated client's  marketing preferences document.  If a client has not yet provided their preferences and/or consent, new preferences will be created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_client_marketing_preferences_with_http_info(body, authorization, x_api_key, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ClientMarketingPreferences body: Client Marketing Preferences document. (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param int client_id: Client identifier. The special value 'me' can be used to indicate the authenticated user. (required)
        :param str accept:
        :return: ClientMarketingPreferences
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'authorization', 'x_api_key', 'client_id', 'accept']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_client_marketing_preferences" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_client_marketing_preferences`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `update_client_marketing_preferences`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `update_client_marketing_preferences`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `update_client_marketing_preferences`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/marketing_preferences', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ClientMarketingPreferences',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_lead_marketing_preferences(self, body, authorization, x_api_key, lead_id, **kwargs):  # noqa: E501
        """Updates lead's marketing preferences.  # noqa: E501

        Use this endpoint to updates a lead's marketing preferences broken down by medium where appropriate.  A successful response (200) will return updated client's  marketing preferences document.  If a lead has not yet provided their preferences and/or consent, new preferences will be created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_lead_marketing_preferences(body, authorization, x_api_key, lead_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LeadMarketingPreferences body: Lead Marketing Preferences document. (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param int lead_id: Lead identifier. The special value 'me' can be used to indicate the authenticated user. (required)
        :param str accept:
        :return: LeadMarketingPreferences
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_lead_marketing_preferences_with_http_info(body, authorization, x_api_key, lead_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_lead_marketing_preferences_with_http_info(body, authorization, x_api_key, lead_id, **kwargs)  # noqa: E501
            return data

    def update_lead_marketing_preferences_with_http_info(self, body, authorization, x_api_key, lead_id, **kwargs):  # noqa: E501
        """Updates lead's marketing preferences.  # noqa: E501

        Use this endpoint to updates a lead's marketing preferences broken down by medium where appropriate.  A successful response (200) will return updated client's  marketing preferences document.  If a lead has not yet provided their preferences and/or consent, new preferences will be created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_lead_marketing_preferences_with_http_info(body, authorization, x_api_key, lead_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LeadMarketingPreferences body: Lead Marketing Preferences document. (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param int lead_id: Lead identifier. The special value 'me' can be used to indicate the authenticated user. (required)
        :param str accept:
        :return: LeadMarketingPreferences
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'authorization', 'x_api_key', 'lead_id', 'accept']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_lead_marketing_preferences" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_lead_marketing_preferences`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `update_lead_marketing_preferences`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `update_lead_marketing_preferences`")  # noqa: E501
        # verify the required parameter 'lead_id' is set
        if ('lead_id' not in params or
                params['lead_id'] is None):
            raise ValueError("Missing the required parameter `lead_id` when calling `update_lead_marketing_preferences`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'lead_id' in params:
            path_params['leadId'] = params['lead_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/leads/{leadId}/marketing_preferences', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LeadMarketingPreferences',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
