# coding: utf-8

"""
    public-v2-prd-gb-01

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2016-08-19T00:00:00Z
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class TransactionsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def batch_create_client_transactions(self, body, authorization, x_api_key, client_id, **kwargs):  # noqa: E501
        """Creates a batch of transactions for different plans for a particular client.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.batch_create_client_transactions(body, authorization, x_api_key, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TransactionBatch body: A collection of transactions. (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param int client_id: Client Id (required)
        :param str accept:
        :param bool x_iflo_batch_ignore_error: You can choose to set \"x-iflo-ignore-error=true\" when posting a batch of transactions.              This processes the entire batch and skip any row containing transaction we cannot match against the plan or underlying holding.
        :param int tenant_id: Tenant Id
        :return: TransactionBatchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.batch_create_client_transactions_with_http_info(body, authorization, x_api_key, client_id, **kwargs)  # noqa: E501
        else:
            (data) = self.batch_create_client_transactions_with_http_info(body, authorization, x_api_key, client_id, **kwargs)  # noqa: E501
            return data

    def batch_create_client_transactions_with_http_info(self, body, authorization, x_api_key, client_id, **kwargs):  # noqa: E501
        """Creates a batch of transactions for different plans for a particular client.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.batch_create_client_transactions_with_http_info(body, authorization, x_api_key, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TransactionBatch body: A collection of transactions. (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param int client_id: Client Id (required)
        :param str accept:
        :param bool x_iflo_batch_ignore_error: You can choose to set \"x-iflo-ignore-error=true\" when posting a batch of transactions.              This processes the entire batch and skip any row containing transaction we cannot match against the plan or underlying holding.
        :param int tenant_id: Tenant Id
        :return: TransactionBatchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'authorization', 'x_api_key', 'client_id', 'accept', 'x_iflo_batch_ignore_error', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method batch_create_client_transactions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `batch_create_client_transactions`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `batch_create_client_transactions`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `batch_create_client_transactions`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `batch_create_client_transactions`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501
        if 'x_iflo_batch_ignore_error' in params:
            header_params['x-iflo-batch-ignore-error'] = params['x_iflo_batch_ignore_error']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/transactions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TransactionBatchResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def batch_create_transactions(self, body, authorization, x_api_key, **kwargs):  # noqa: E501
        """Creates a batch of transactions for different plans.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.batch_create_transactions(body, authorization, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TransactionBatch body: A collection of transactions. (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param str accept:
        :param bool x_iflo_batch_ignore_error: You can choose to set \"x-iflo-ignore-error=true\" when posting a batch of transactions.              This processes the entire batch and skip any row containing transaction we cannot match against the plan or underlying holding.
        :param int tenant_id: Tenant Id
        :return: TransactionBatchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.batch_create_transactions_with_http_info(body, authorization, x_api_key, **kwargs)  # noqa: E501
        else:
            (data) = self.batch_create_transactions_with_http_info(body, authorization, x_api_key, **kwargs)  # noqa: E501
            return data

    def batch_create_transactions_with_http_info(self, body, authorization, x_api_key, **kwargs):  # noqa: E501
        """Creates a batch of transactions for different plans.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.batch_create_transactions_with_http_info(body, authorization, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TransactionBatch body: A collection of transactions. (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param str accept:
        :param bool x_iflo_batch_ignore_error: You can choose to set \"x-iflo-ignore-error=true\" when posting a batch of transactions.              This processes the entire batch and skip any row containing transaction we cannot match against the plan or underlying holding.
        :param int tenant_id: Tenant Id
        :return: TransactionBatchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'authorization', 'x_api_key', 'accept', 'x_iflo_batch_ignore_error', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method batch_create_transactions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `batch_create_transactions`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `batch_create_transactions`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `batch_create_transactions`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501
        if 'x_iflo_batch_ignore_error' in params:
            header_params['x-iflo-batch-ignore-error'] = params['x_iflo_batch_ignore_error']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/transactions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TransactionBatchResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def client_plan_transaction_exists(self, authorization, client_id, plan_id, transaction_id, x_api_key, **kwargs):  # noqa: E501
        """Check to see if a transaction exists.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_plan_transaction_exists(authorization, client_id, plan_id, transaction_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: (required)
        :param int client_id: Client Id - the special value \\\"me\\\" can be used to indicate the authenticated user. (required)
        :param int plan_id: Plan Id - the id of the plan. (required)
        :param int transaction_id: Transaction Id - the id of the transaction. (required)
        :param str x_api_key: (required)
        :param str accept:
        :param int tenant_id: Tenant Id
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.client_plan_transaction_exists_with_http_info(authorization, client_id, plan_id, transaction_id, x_api_key, **kwargs)  # noqa: E501
        else:
            (data) = self.client_plan_transaction_exists_with_http_info(authorization, client_id, plan_id, transaction_id, x_api_key, **kwargs)  # noqa: E501
            return data

    def client_plan_transaction_exists_with_http_info(self, authorization, client_id, plan_id, transaction_id, x_api_key, **kwargs):  # noqa: E501
        """Check to see if a transaction exists.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_plan_transaction_exists_with_http_info(authorization, client_id, plan_id, transaction_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: (required)
        :param int client_id: Client Id - the special value \\\"me\\\" can be used to indicate the authenticated user. (required)
        :param int plan_id: Plan Id - the id of the plan. (required)
        :param int transaction_id: Transaction Id - the id of the transaction. (required)
        :param str x_api_key: (required)
        :param str accept:
        :param int tenant_id: Tenant Id
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'client_id', 'plan_id', 'transaction_id', 'x_api_key', 'accept', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method client_plan_transaction_exists" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `client_plan_transaction_exists`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `client_plan_transaction_exists`")  # noqa: E501
        # verify the required parameter 'plan_id' is set
        if ('plan_id' not in params or
                params['plan_id'] is None):
            raise ValueError("Missing the required parameter `plan_id` when calling `client_plan_transaction_exists`")  # noqa: E501
        # verify the required parameter 'transaction_id' is set
        if ('transaction_id' not in params or
                params['transaction_id'] is None):
            raise ValueError("Missing the required parameter `transaction_id` when calling `client_plan_transaction_exists`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `client_plan_transaction_exists`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501
        if 'plan_id' in params:
            path_params['planId'] = params['plan_id']  # noqa: E501
        if 'transaction_id' in params:
            path_params['transactionId'] = params['transaction_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/plans/{planId}/transactions/{transactionId}', 'HEAD',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_client_plan_transaction(self, authorization, client_id, plan_id, transaction_id, x_api_key, **kwargs):  # noqa: E501
        """Gets a single transaction by id.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_client_plan_transaction(authorization, client_id, plan_id, transaction_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: (required)
        :param int client_id: Client Id - the special value \\\"me\\\" can be used to indicate the authenticated user. (required)
        :param int plan_id: Plan Id - the id of the plan. (required)
        :param int transaction_id: Transaction Id - the id of the transaction. (required)
        :param str x_api_key: (required)
        :param str accept:
        :param int tenant_id: Tenant Id
        :return: Transaction
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_client_plan_transaction_with_http_info(authorization, client_id, plan_id, transaction_id, x_api_key, **kwargs)  # noqa: E501
        else:
            (data) = self.get_client_plan_transaction_with_http_info(authorization, client_id, plan_id, transaction_id, x_api_key, **kwargs)  # noqa: E501
            return data

    def get_client_plan_transaction_with_http_info(self, authorization, client_id, plan_id, transaction_id, x_api_key, **kwargs):  # noqa: E501
        """Gets a single transaction by id.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_client_plan_transaction_with_http_info(authorization, client_id, plan_id, transaction_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: (required)
        :param int client_id: Client Id - the special value \\\"me\\\" can be used to indicate the authenticated user. (required)
        :param int plan_id: Plan Id - the id of the plan. (required)
        :param int transaction_id: Transaction Id - the id of the transaction. (required)
        :param str x_api_key: (required)
        :param str accept:
        :param int tenant_id: Tenant Id
        :return: Transaction
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'client_id', 'plan_id', 'transaction_id', 'x_api_key', 'accept', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_client_plan_transaction" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_client_plan_transaction`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `get_client_plan_transaction`")  # noqa: E501
        # verify the required parameter 'plan_id' is set
        if ('plan_id' not in params or
                params['plan_id'] is None):
            raise ValueError("Missing the required parameter `plan_id` when calling `get_client_plan_transaction`")  # noqa: E501
        # verify the required parameter 'transaction_id' is set
        if ('transaction_id' not in params or
                params['transaction_id'] is None):
            raise ValueError("Missing the required parameter `transaction_id` when calling `get_client_plan_transaction`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `get_client_plan_transaction`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501
        if 'plan_id' in params:
            path_params['planId'] = params['plan_id']  # noqa: E501
        if 'transaction_id' in params:
            path_params['transactionId'] = params['transaction_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/plans/{planId}/transactions/{transactionId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Transaction',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_client_plan_transactions(self, authorization, client_id, plan_id, x_api_key, **kwargs):  # noqa: E501
        """Returns a list of transactions for a client plan.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_client_plan_transactions(authorization, client_id, plan_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: (required)
        :param int client_id: Client Id - the id of the client. (required)
        :param int plan_id: Plan Id - the id of the plan. (required)
        :param str x_api_key: (required)
        :param str accept:
        :param str filter: Results can be filtered using one or more supported fields and operators below.  For details on how to use the query language please see [QueryLang](docs/ApiQueryLang).  Supported fields and operators:  * `id` (eq,ne,gt,ge,lt,le,in)  * `source` (eq)  * `debitCreditIndicator` (eq)  * `type` (eq, in)  * `transactionDate` (le,lt,gt,ge,eq)  * `category1` (eq,ne)  * `category2` (eq,ne)  * `description` (eq,startswith)  * `gross` (eq,ne,gt,ge,lt,le,in)  * `unitPrice` (eq,ne,gt,ge,lt,le,in)  * `externalReference` (eq,ne,startswith,in)
        :param str order_by: By default the list will be ordered desc by Id.  However it can be changed using one or more supported fields below.  Supported fields:  * `transactionDate`  * `category1`  * `category2`  * `description`  * `gross`                Supported directions asc, desc.
        :param int skip: Number of records to skip. Must be greater than or equal to zero.
        :param int tenant_id: Tenant Id
        :param int top: The number of records to retrieve (default 100, max 500).
        :return: TransactionCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_client_plan_transactions_with_http_info(authorization, client_id, plan_id, x_api_key, **kwargs)  # noqa: E501
        else:
            (data) = self.list_client_plan_transactions_with_http_info(authorization, client_id, plan_id, x_api_key, **kwargs)  # noqa: E501
            return data

    def list_client_plan_transactions_with_http_info(self, authorization, client_id, plan_id, x_api_key, **kwargs):  # noqa: E501
        """Returns a list of transactions for a client plan.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_client_plan_transactions_with_http_info(authorization, client_id, plan_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: (required)
        :param int client_id: Client Id - the id of the client. (required)
        :param int plan_id: Plan Id - the id of the plan. (required)
        :param str x_api_key: (required)
        :param str accept:
        :param str filter: Results can be filtered using one or more supported fields and operators below.  For details on how to use the query language please see [QueryLang](docs/ApiQueryLang).  Supported fields and operators:  * `id` (eq,ne,gt,ge,lt,le,in)  * `source` (eq)  * `debitCreditIndicator` (eq)  * `type` (eq, in)  * `transactionDate` (le,lt,gt,ge,eq)  * `category1` (eq,ne)  * `category2` (eq,ne)  * `description` (eq,startswith)  * `gross` (eq,ne,gt,ge,lt,le,in)  * `unitPrice` (eq,ne,gt,ge,lt,le,in)  * `externalReference` (eq,ne,startswith,in)
        :param str order_by: By default the list will be ordered desc by Id.  However it can be changed using one or more supported fields below.  Supported fields:  * `transactionDate`  * `category1`  * `category2`  * `description`  * `gross`                Supported directions asc, desc.
        :param int skip: Number of records to skip. Must be greater than or equal to zero.
        :param int tenant_id: Tenant Id
        :param int top: The number of records to retrieve (default 100, max 500).
        :return: TransactionCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'client_id', 'plan_id', 'x_api_key', 'accept', 'filter', 'order_by', 'skip', 'tenant_id', 'top']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_client_plan_transactions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `list_client_plan_transactions`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `list_client_plan_transactions`")  # noqa: E501
        # verify the required parameter 'plan_id' is set
        if ('plan_id' not in params or
                params['plan_id'] is None):
            raise ValueError("Missing the required parameter `plan_id` when calling `list_client_plan_transactions`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `list_client_plan_transactions`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501
        if 'plan_id' in params:
            path_params['planId'] = params['plan_id']  # noqa: E501

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('orderBy', params['order_by']))  # noqa: E501
        if 'skip' in params:
            query_params.append(('skip', params['skip']))  # noqa: E501
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'top' in params:
            query_params.append(('top', params['top']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/plans/{planId}/transactions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TransactionCollection',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_client_transactions(self, authorization, client_id, x_api_key, **kwargs):  # noqa: E501
        """Returns a list of transactions for a client.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_client_transactions(authorization, client_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: (required)
        :param int client_id: Client Id - the id of the client. (required)
        :param str x_api_key: (required)
        :param str accept:
        :param str filter: Results can be filtered using one or more supported fields and operators below.  For details on how to use the query language please see [QueryLang](docs/ApiQueryLang).  Supported fields and operators:  * `id` (eq,ne,gt,ge,lt,le,in)  * `source` (eq)  * `plan.id` (eq,in)  * `debitCreditIndicator` (eq)  * `type` (eq, in)  * `transactionDate` (le,lt,gt,ge,eq)  * `category1` (eq,ne)  * `category2` (eq,ne)  * `description` (eq,startswith)  * `gross` (eq,ne,gt,ge,lt,le,in)  * `unitPrice` (eq,ne,gt,ge,lt,le,in)  * `externalReference` (eq,ne,startswith,in)
        :param str order_by: By default the list will be ordered desc by Id.  However it can be changed using one or more supported fields below.  Supported fields:  * `transactionDate`  * `category1`  * `category2`  * `description`  * `gross`                Supported directions asc, desc.
        :param int skip: Number of records to skip. Must be greater than or equal to zero.
        :param int tenant_id: Tenant Id
        :param int top: The number of records to retrieve (default 100, max 500).
        :return: TransactionCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_client_transactions_with_http_info(authorization, client_id, x_api_key, **kwargs)  # noqa: E501
        else:
            (data) = self.list_client_transactions_with_http_info(authorization, client_id, x_api_key, **kwargs)  # noqa: E501
            return data

    def list_client_transactions_with_http_info(self, authorization, client_id, x_api_key, **kwargs):  # noqa: E501
        """Returns a list of transactions for a client.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_client_transactions_with_http_info(authorization, client_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: (required)
        :param int client_id: Client Id - the id of the client. (required)
        :param str x_api_key: (required)
        :param str accept:
        :param str filter: Results can be filtered using one or more supported fields and operators below.  For details on how to use the query language please see [QueryLang](docs/ApiQueryLang).  Supported fields and operators:  * `id` (eq,ne,gt,ge,lt,le,in)  * `source` (eq)  * `plan.id` (eq,in)  * `debitCreditIndicator` (eq)  * `type` (eq, in)  * `transactionDate` (le,lt,gt,ge,eq)  * `category1` (eq,ne)  * `category2` (eq,ne)  * `description` (eq,startswith)  * `gross` (eq,ne,gt,ge,lt,le,in)  * `unitPrice` (eq,ne,gt,ge,lt,le,in)  * `externalReference` (eq,ne,startswith,in)
        :param str order_by: By default the list will be ordered desc by Id.  However it can be changed using one or more supported fields below.  Supported fields:  * `transactionDate`  * `category1`  * `category2`  * `description`  * `gross`                Supported directions asc, desc.
        :param int skip: Number of records to skip. Must be greater than or equal to zero.
        :param int tenant_id: Tenant Id
        :param int top: The number of records to retrieve (default 100, max 500).
        :return: TransactionCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'client_id', 'x_api_key', 'accept', 'filter', 'order_by', 'skip', 'tenant_id', 'top']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_client_transactions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `list_client_transactions`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `list_client_transactions`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `list_client_transactions`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('orderBy', params['order_by']))  # noqa: E501
        if 'skip' in params:
            query_params.append(('skip', params['skip']))  # noqa: E501
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'top' in params:
            query_params.append(('top', params['top']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/transactions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TransactionCollection',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_client_plan_transaction(self, body, authorization, x_api_key, client_id, plan_id, transaction_id, **kwargs):  # noqa: E501
        """Updates a client plan transaction.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_client_plan_transaction(body, authorization, x_api_key, client_id, plan_id, transaction_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Operation] body: A Json Patch document containing details of modifications to be made to the client plan transaction resource.
Only the following paths may be modified:
* `/category1`
* `/category1Code`
* `/category2`
* `/category2Code1`
* `/description`
* `/unitPrice`
* `/unitNumber`
* `/transactionDate`
            
For a simple example a request contains the following JSON:
            
{
    "op": "replace",
    "path": "/category1",
    "value": "New Category 1"
}
            
would result in the category1 value for the targeted resource being set to 'New Category 1'. (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param int client_id: Client Id (required)
        :param int plan_id: Plan Id (required)
        :param int transaction_id: Transaction Id (required)
        :param str accept:
        :param int tenant_id: Tenant Id
        :return: Transaction
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_client_plan_transaction_with_http_info(body, authorization, x_api_key, client_id, plan_id, transaction_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_client_plan_transaction_with_http_info(body, authorization, x_api_key, client_id, plan_id, transaction_id, **kwargs)  # noqa: E501
            return data

    def update_client_plan_transaction_with_http_info(self, body, authorization, x_api_key, client_id, plan_id, transaction_id, **kwargs):  # noqa: E501
        """Updates a client plan transaction.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_client_plan_transaction_with_http_info(body, authorization, x_api_key, client_id, plan_id, transaction_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Operation] body: A Json Patch document containing details of modifications to be made to the client plan transaction resource.
Only the following paths may be modified:
* `/category1`
* `/category1Code`
* `/category2`
* `/category2Code1`
* `/description`
* `/unitPrice`
* `/unitNumber`
* `/transactionDate`
            
For a simple example a request contains the following JSON:
            
{
    "op": "replace",
    "path": "/category1",
    "value": "New Category 1"
}
            
would result in the category1 value for the targeted resource being set to 'New Category 1'. (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param int client_id: Client Id (required)
        :param int plan_id: Plan Id (required)
        :param int transaction_id: Transaction Id (required)
        :param str accept:
        :param int tenant_id: Tenant Id
        :return: Transaction
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'authorization', 'x_api_key', 'client_id', 'plan_id', 'transaction_id', 'accept', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_client_plan_transaction" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_client_plan_transaction`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `update_client_plan_transaction`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `update_client_plan_transaction`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `update_client_plan_transaction`")  # noqa: E501
        # verify the required parameter 'plan_id' is set
        if ('plan_id' not in params or
                params['plan_id'] is None):
            raise ValueError("Missing the required parameter `plan_id` when calling `update_client_plan_transaction`")  # noqa: E501
        # verify the required parameter 'transaction_id' is set
        if ('transaction_id' not in params or
                params['transaction_id'] is None):
            raise ValueError("Missing the required parameter `transaction_id` when calling `update_client_plan_transaction`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501
        if 'plan_id' in params:
            path_params['planId'] = params['plan_id']  # noqa: E501
        if 'transaction_id' in params:
            path_params['transactionId'] = params['transaction_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/plans/{planId}/transactions/{transactionId}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Transaction',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
