# coding: utf-8

"""
    public-v2-prd-gb-01

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2016-08-19T00:00:00Z
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ValuationsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_asset_valuations(self, body, authorization, x_api_key, asset_id, client_id, **kwargs):  # noqa: E501
        """Creates a valuation on a given client and asset.   # noqa: E501

        All valuations are based on asset.Currency which is read-only within these endpoints. For example; if you POST or PUT value.Currency = EUR value.Amount = 100 whilst the asset.Currency is set to GBP then we will return value.Currency = GBP value.Amount = 100.00.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_asset_valuations(body, authorization, x_api_key, asset_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AssetValuation body: The asset document. (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param int asset_id: Asset identifier. (required)
        :param int client_id: Client identifier (required)
        :param str accept:
        :param int tenant_id: The tenant identifier.
        :return: AssetValuation
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_asset_valuations_with_http_info(body, authorization, x_api_key, asset_id, client_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_asset_valuations_with_http_info(body, authorization, x_api_key, asset_id, client_id, **kwargs)  # noqa: E501
            return data

    def create_asset_valuations_with_http_info(self, body, authorization, x_api_key, asset_id, client_id, **kwargs):  # noqa: E501
        """Creates a valuation on a given client and asset.   # noqa: E501

        All valuations are based on asset.Currency which is read-only within these endpoints. For example; if you POST or PUT value.Currency = EUR value.Amount = 100 whilst the asset.Currency is set to GBP then we will return value.Currency = GBP value.Amount = 100.00.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_asset_valuations_with_http_info(body, authorization, x_api_key, asset_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AssetValuation body: The asset document. (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param int asset_id: Asset identifier. (required)
        :param int client_id: Client identifier (required)
        :param str accept:
        :param int tenant_id: The tenant identifier.
        :return: AssetValuation
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'authorization', 'x_api_key', 'asset_id', 'client_id', 'accept', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_asset_valuations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_asset_valuations`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `create_asset_valuations`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `create_asset_valuations`")  # noqa: E501
        # verify the required parameter 'asset_id' is set
        if ('asset_id' not in params or
                params['asset_id'] is None):
            raise ValueError("Missing the required parameter `asset_id` when calling `create_asset_valuations`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `create_asset_valuations`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'asset_id' in params:
            path_params['assetId'] = params['asset_id']  # noqa: E501
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/assets/{assetId}/valuations', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AssetValuation',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_plan_valuations(self, body, authorization, x_api_key, client_id, plan_id, **kwargs):  # noqa: E501
        """Creates a valuation for a given client and plan.   # noqa: E501

        All valuations are based on plan.Currency which is inherited from the parent plan and is read-only within these endpoints. For example; if you POST or PUT value.Currency = EUR value.Amount = 100 whilst the plan.Currency is set to GBP then we will return value.Currency = GBP value.Amount = 100.00.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_plan_valuations(body, authorization, x_api_key, client_id, plan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PlanValuation body: Valuation (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param int client_id: Client Id - The special value \"me\" can be used to indicate the authenticated user. (required)
        :param int plan_id: Plan Id (required)
        :param str accept:
        :param int tenant_id:
        :return: PlanValuation
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_plan_valuations_with_http_info(body, authorization, x_api_key, client_id, plan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_plan_valuations_with_http_info(body, authorization, x_api_key, client_id, plan_id, **kwargs)  # noqa: E501
            return data

    def create_plan_valuations_with_http_info(self, body, authorization, x_api_key, client_id, plan_id, **kwargs):  # noqa: E501
        """Creates a valuation for a given client and plan.   # noqa: E501

        All valuations are based on plan.Currency which is inherited from the parent plan and is read-only within these endpoints. For example; if you POST or PUT value.Currency = EUR value.Amount = 100 whilst the plan.Currency is set to GBP then we will return value.Currency = GBP value.Amount = 100.00.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_plan_valuations_with_http_info(body, authorization, x_api_key, client_id, plan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PlanValuation body: Valuation (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param int client_id: Client Id - The special value \"me\" can be used to indicate the authenticated user. (required)
        :param int plan_id: Plan Id (required)
        :param str accept:
        :param int tenant_id:
        :return: PlanValuation
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'authorization', 'x_api_key', 'client_id', 'plan_id', 'accept', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_plan_valuations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_plan_valuations`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `create_plan_valuations`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `create_plan_valuations`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `create_plan_valuations`")  # noqa: E501
        # verify the required parameter 'plan_id' is set
        if ('plan_id' not in params or
                params['plan_id'] is None):
            raise ValueError("Missing the required parameter `plan_id` when calling `create_plan_valuations`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501
        if 'plan_id' in params:
            path_params['planId'] = params['plan_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/plans/{planId}/valuations', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PlanValuation',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_client_asset_valuation(self, asset_id, authorization, client_id, valuation_id, x_api_key, **kwargs):  # noqa: E501
        """Deletes an association on a valuation for a given client, asset and valuation.   # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_client_asset_valuation(asset_id, authorization, client_id, valuation_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int asset_id: The asset identifier. (required)
        :param str authorization: (required)
        :param int client_id: The client identifier. (required)
        :param int valuation_id: The valuation identifier. (required)
        :param str x_api_key: (required)
        :param str accept:
        :param int tenant_id: The tenant identifier.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_client_asset_valuation_with_http_info(asset_id, authorization, client_id, valuation_id, x_api_key, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_client_asset_valuation_with_http_info(asset_id, authorization, client_id, valuation_id, x_api_key, **kwargs)  # noqa: E501
            return data

    def delete_client_asset_valuation_with_http_info(self, asset_id, authorization, client_id, valuation_id, x_api_key, **kwargs):  # noqa: E501
        """Deletes an association on a valuation for a given client, asset and valuation.   # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_client_asset_valuation_with_http_info(asset_id, authorization, client_id, valuation_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int asset_id: The asset identifier. (required)
        :param str authorization: (required)
        :param int client_id: The client identifier. (required)
        :param int valuation_id: The valuation identifier. (required)
        :param str x_api_key: (required)
        :param str accept:
        :param int tenant_id: The tenant identifier.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['asset_id', 'authorization', 'client_id', 'valuation_id', 'x_api_key', 'accept', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_client_asset_valuation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'asset_id' is set
        if ('asset_id' not in params or
                params['asset_id'] is None):
            raise ValueError("Missing the required parameter `asset_id` when calling `delete_client_asset_valuation`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `delete_client_asset_valuation`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `delete_client_asset_valuation`")  # noqa: E501
        # verify the required parameter 'valuation_id' is set
        if ('valuation_id' not in params or
                params['valuation_id'] is None):
            raise ValueError("Missing the required parameter `valuation_id` when calling `delete_client_asset_valuation`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `delete_client_asset_valuation`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'asset_id' in params:
            path_params['assetId'] = params['asset_id']  # noqa: E501
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501
        if 'valuation_id' in params:
            path_params['valuationId'] = params['valuation_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/assets/{assetId}/valuations/{valuationId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_client_asset_valuation(self, asset_id, authorization, client_id, valuation_id, x_api_key, **kwargs):  # noqa: E501
        """Returns an association on a valuation for a given client, asset and valuation.   # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_client_asset_valuation(asset_id, authorization, client_id, valuation_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int asset_id: The asset identifier. (required)
        :param str authorization: (required)
        :param int client_id: The client identifier. (required)
        :param int valuation_id: The valuation identifier. (required)
        :param str x_api_key: (required)
        :param str accept:
        :return: AssetValuation
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_client_asset_valuation_with_http_info(asset_id, authorization, client_id, valuation_id, x_api_key, **kwargs)  # noqa: E501
        else:
            (data) = self.get_client_asset_valuation_with_http_info(asset_id, authorization, client_id, valuation_id, x_api_key, **kwargs)  # noqa: E501
            return data

    def get_client_asset_valuation_with_http_info(self, asset_id, authorization, client_id, valuation_id, x_api_key, **kwargs):  # noqa: E501
        """Returns an association on a valuation for a given client, asset and valuation.   # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_client_asset_valuation_with_http_info(asset_id, authorization, client_id, valuation_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int asset_id: The asset identifier. (required)
        :param str authorization: (required)
        :param int client_id: The client identifier. (required)
        :param int valuation_id: The valuation identifier. (required)
        :param str x_api_key: (required)
        :param str accept:
        :return: AssetValuation
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['asset_id', 'authorization', 'client_id', 'valuation_id', 'x_api_key', 'accept']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_client_asset_valuation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'asset_id' is set
        if ('asset_id' not in params or
                params['asset_id'] is None):
            raise ValueError("Missing the required parameter `asset_id` when calling `get_client_asset_valuation`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_client_asset_valuation`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `get_client_asset_valuation`")  # noqa: E501
        # verify the required parameter 'valuation_id' is set
        if ('valuation_id' not in params or
                params['valuation_id'] is None):
            raise ValueError("Missing the required parameter `valuation_id` when calling `get_client_asset_valuation`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `get_client_asset_valuation`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'asset_id' in params:
            path_params['assetId'] = params['asset_id']  # noqa: E501
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501
        if 'valuation_id' in params:
            path_params['valuationId'] = params['valuation_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/assets/{assetId}/valuations/{valuationId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AssetValuation',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_client_plan_valuation(self, authorization, client_id, plan_id, valuation_id, x_api_key, **kwargs):  # noqa: E501
        """Returns a valuation on a given client, plan and valuation.   # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_client_plan_valuation(authorization, client_id, plan_id, valuation_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: (required)
        :param int client_id: Client Id (required)
        :param int plan_id: Plan Id (required)
        :param int valuation_id: Valuation Id (required)
        :param str x_api_key: (required)
        :param str accept:
        :param int tenant_id: Tenant identifier, optionally included
        :return: PlanValuation
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_client_plan_valuation_with_http_info(authorization, client_id, plan_id, valuation_id, x_api_key, **kwargs)  # noqa: E501
        else:
            (data) = self.get_client_plan_valuation_with_http_info(authorization, client_id, plan_id, valuation_id, x_api_key, **kwargs)  # noqa: E501
            return data

    def get_client_plan_valuation_with_http_info(self, authorization, client_id, plan_id, valuation_id, x_api_key, **kwargs):  # noqa: E501
        """Returns a valuation on a given client, plan and valuation.   # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_client_plan_valuation_with_http_info(authorization, client_id, plan_id, valuation_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: (required)
        :param int client_id: Client Id (required)
        :param int plan_id: Plan Id (required)
        :param int valuation_id: Valuation Id (required)
        :param str x_api_key: (required)
        :param str accept:
        :param int tenant_id: Tenant identifier, optionally included
        :return: PlanValuation
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'client_id', 'plan_id', 'valuation_id', 'x_api_key', 'accept', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_client_plan_valuation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_client_plan_valuation`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `get_client_plan_valuation`")  # noqa: E501
        # verify the required parameter 'plan_id' is set
        if ('plan_id' not in params or
                params['plan_id'] is None):
            raise ValueError("Missing the required parameter `plan_id` when calling `get_client_plan_valuation`")  # noqa: E501
        # verify the required parameter 'valuation_id' is set
        if ('valuation_id' not in params or
                params['valuation_id'] is None):
            raise ValueError("Missing the required parameter `valuation_id` when calling `get_client_plan_valuation`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `get_client_plan_valuation`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501
        if 'plan_id' in params:
            path_params['planId'] = params['plan_id']  # noqa: E501
        if 'valuation_id' in params:
            path_params['valuationId'] = params['valuation_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/plans/{planId}/valuations/{valuationId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PlanValuation',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_client_asset_valuations(self, asset_id, authorization, client_id, x_api_key, **kwargs):  # noqa: E501
        """Returns a list of valuations on a given client and asset.   # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_client_asset_valuations(asset_id, authorization, client_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int asset_id: Asset identifier. (required)
        :param str authorization: (required)
        :param int client_id: Client identifier (required)
        :param str x_api_key: (required)
        :param str accept:
        :param str order_by: You can sort on Valuation date(ValueOn) and Amount(Value): e.g. orderby=ValueOn desc, orderby=Value asc
        :param int skip: The skip.
        :param int top: The top.
        :return: AssetValuationCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_client_asset_valuations_with_http_info(asset_id, authorization, client_id, x_api_key, **kwargs)  # noqa: E501
        else:
            (data) = self.list_client_asset_valuations_with_http_info(asset_id, authorization, client_id, x_api_key, **kwargs)  # noqa: E501
            return data

    def list_client_asset_valuations_with_http_info(self, asset_id, authorization, client_id, x_api_key, **kwargs):  # noqa: E501
        """Returns a list of valuations on a given client and asset.   # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_client_asset_valuations_with_http_info(asset_id, authorization, client_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int asset_id: Asset identifier. (required)
        :param str authorization: (required)
        :param int client_id: Client identifier (required)
        :param str x_api_key: (required)
        :param str accept:
        :param str order_by: You can sort on Valuation date(ValueOn) and Amount(Value): e.g. orderby=ValueOn desc, orderby=Value asc
        :param int skip: The skip.
        :param int top: The top.
        :return: AssetValuationCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['asset_id', 'authorization', 'client_id', 'x_api_key', 'accept', 'order_by', 'skip', 'top']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_client_asset_valuations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'asset_id' is set
        if ('asset_id' not in params or
                params['asset_id'] is None):
            raise ValueError("Missing the required parameter `asset_id` when calling `list_client_asset_valuations`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `list_client_asset_valuations`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `list_client_asset_valuations`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `list_client_asset_valuations`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'asset_id' in params:
            path_params['assetId'] = params['asset_id']  # noqa: E501
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501

        query_params = []
        if 'order_by' in params:
            query_params.append(('orderBy', params['order_by']))  # noqa: E501
        if 'skip' in params:
            query_params.append(('skip', params['skip']))  # noqa: E501
        if 'top' in params:
            query_params.append(('top', params['top']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/assets/{assetId}/valuations', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AssetValuationCollection',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_client_plan_valuations(self, authorization, client_id, plan_id, x_api_key, **kwargs):  # noqa: E501
        """Returns a list of valuations for a given client and plan.   # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_client_plan_valuations(authorization, client_id, plan_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: (required)
        :param int client_id: Client Id (required)
        :param int plan_id: Plan Id (required)
        :param str x_api_key: (required)
        :param str accept:
        :param str filter: Supported fields and operators:               * valuedOn (gt, ge, lt, le).
        :param int skip: Number of records to skip. Must be greater than or equal to zero
        :param int tenant_id: Tenant identifier, optionally included
        :param int top: The number of records to retrieve (default 100, max 500)
        :return: ValuationCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_client_plan_valuations_with_http_info(authorization, client_id, plan_id, x_api_key, **kwargs)  # noqa: E501
        else:
            (data) = self.list_client_plan_valuations_with_http_info(authorization, client_id, plan_id, x_api_key, **kwargs)  # noqa: E501
            return data

    def list_client_plan_valuations_with_http_info(self, authorization, client_id, plan_id, x_api_key, **kwargs):  # noqa: E501
        """Returns a list of valuations for a given client and plan.   # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_client_plan_valuations_with_http_info(authorization, client_id, plan_id, x_api_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: (required)
        :param int client_id: Client Id (required)
        :param int plan_id: Plan Id (required)
        :param str x_api_key: (required)
        :param str accept:
        :param str filter: Supported fields and operators:               * valuedOn (gt, ge, lt, le).
        :param int skip: Number of records to skip. Must be greater than or equal to zero
        :param int tenant_id: Tenant identifier, optionally included
        :param int top: The number of records to retrieve (default 100, max 500)
        :return: ValuationCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'client_id', 'plan_id', 'x_api_key', 'accept', 'filter', 'skip', 'tenant_id', 'top']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_client_plan_valuations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `list_client_plan_valuations`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `list_client_plan_valuations`")  # noqa: E501
        # verify the required parameter 'plan_id' is set
        if ('plan_id' not in params or
                params['plan_id'] is None):
            raise ValueError("Missing the required parameter `plan_id` when calling `list_client_plan_valuations`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `list_client_plan_valuations`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501
        if 'plan_id' in params:
            path_params['planId'] = params['plan_id']  # noqa: E501

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'skip' in params:
            query_params.append(('skip', params['skip']))  # noqa: E501
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'top' in params:
            query_params.append(('top', params['top']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/plans/{planId}/valuations', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ValuationCollection',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_client_asset_valuation(self, body, authorization, x_api_key, asset_id, client_id, valuation_id, **kwargs):  # noqa: E501
        """Updates or creates an association on a valuation for a given client, asset and valuation.   # noqa: E501

        All valuations are based on asset.Currency which is read-only within these endpoints. For example; if you POST or PUT value.Currency = EUR value.Amount = 100 whilst the asset.Currency is set to GBP then we will return value.Currency = GBP value.Amount = 100.00.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_client_asset_valuation(body, authorization, x_api_key, asset_id, client_id, valuation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AssetValuation body: The asset valuation document. (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param int asset_id: The asset identifier. (required)
        :param int client_id: The client identifier. (required)
        :param int valuation_id: The asset valuation identifier. (required)
        :param str accept:
        :param int tenant_id: The tenant identifier.
        :return: AssetValuation
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_client_asset_valuation_with_http_info(body, authorization, x_api_key, asset_id, client_id, valuation_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_client_asset_valuation_with_http_info(body, authorization, x_api_key, asset_id, client_id, valuation_id, **kwargs)  # noqa: E501
            return data

    def update_client_asset_valuation_with_http_info(self, body, authorization, x_api_key, asset_id, client_id, valuation_id, **kwargs):  # noqa: E501
        """Updates or creates an association on a valuation for a given client, asset and valuation.   # noqa: E501

        All valuations are based on asset.Currency which is read-only within these endpoints. For example; if you POST or PUT value.Currency = EUR value.Amount = 100 whilst the asset.Currency is set to GBP then we will return value.Currency = GBP value.Amount = 100.00.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_client_asset_valuation_with_http_info(body, authorization, x_api_key, asset_id, client_id, valuation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AssetValuation body: The asset valuation document. (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param int asset_id: The asset identifier. (required)
        :param int client_id: The client identifier. (required)
        :param int valuation_id: The asset valuation identifier. (required)
        :param str accept:
        :param int tenant_id: The tenant identifier.
        :return: AssetValuation
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'authorization', 'x_api_key', 'asset_id', 'client_id', 'valuation_id', 'accept', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_client_asset_valuation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_client_asset_valuation`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `update_client_asset_valuation`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `update_client_asset_valuation`")  # noqa: E501
        # verify the required parameter 'asset_id' is set
        if ('asset_id' not in params or
                params['asset_id'] is None):
            raise ValueError("Missing the required parameter `asset_id` when calling `update_client_asset_valuation`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `update_client_asset_valuation`")  # noqa: E501
        # verify the required parameter 'valuation_id' is set
        if ('valuation_id' not in params or
                params['valuation_id'] is None):
            raise ValueError("Missing the required parameter `valuation_id` when calling `update_client_asset_valuation`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'asset_id' in params:
            path_params['assetId'] = params['asset_id']  # noqa: E501
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501
        if 'valuation_id' in params:
            path_params['valuationId'] = params['valuation_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/assets/{assetId}/valuations/{valuationId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AssetValuation',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_client_plan_valuation(self, body, authorization, x_api_key, client_id, plan_id, valuation_id, **kwargs):  # noqa: E501
        """Updates a valuation on a given client, plan and valuation.   # noqa: E501

        All valuations are based on plan.Currency which is inherited from the parent plan and is read-only within these endpoints. For example; if you POST or PUT value.Currency = EUR value.Amount = 100 whilst the plan.Currency is set to GBP then we will return value.Currency = GBP value.Amount = 100.00.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_client_plan_valuation(body, authorization, x_api_key, client_id, plan_id, valuation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PlanValuation body: Valuation (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param int client_id: Client Id - The special value \"me\" can be used to indicate the authenticated user. (required)
        :param int plan_id: Plan Id (required)
        :param int valuation_id: ValuationId (required)
        :param str accept:
        :param int tenant_id: TenantId
        :return: PlanValuation
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_client_plan_valuation_with_http_info(body, authorization, x_api_key, client_id, plan_id, valuation_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_client_plan_valuation_with_http_info(body, authorization, x_api_key, client_id, plan_id, valuation_id, **kwargs)  # noqa: E501
            return data

    def update_client_plan_valuation_with_http_info(self, body, authorization, x_api_key, client_id, plan_id, valuation_id, **kwargs):  # noqa: E501
        """Updates a valuation on a given client, plan and valuation.   # noqa: E501

        All valuations are based on plan.Currency which is inherited from the parent plan and is read-only within these endpoints. For example; if you POST or PUT value.Currency = EUR value.Amount = 100 whilst the plan.Currency is set to GBP then we will return value.Currency = GBP value.Amount = 100.00.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_client_plan_valuation_with_http_info(body, authorization, x_api_key, client_id, plan_id, valuation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PlanValuation body: Valuation (required)
        :param str authorization: (required)
        :param str x_api_key: (required)
        :param int client_id: Client Id - The special value \"me\" can be used to indicate the authenticated user. (required)
        :param int plan_id: Plan Id (required)
        :param int valuation_id: ValuationId (required)
        :param str accept:
        :param int tenant_id: TenantId
        :return: PlanValuation
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'authorization', 'x_api_key', 'client_id', 'plan_id', 'valuation_id', 'accept', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_client_plan_valuation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_client_plan_valuation`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `update_client_plan_valuation`")  # noqa: E501
        # verify the required parameter 'x_api_key' is set
        if ('x_api_key' not in params or
                params['x_api_key'] is None):
            raise ValueError("Missing the required parameter `x_api_key` when calling `update_client_plan_valuation`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `update_client_plan_valuation`")  # noqa: E501
        # verify the required parameter 'plan_id' is set
        if ('plan_id' not in params or
                params['plan_id'] is None):
            raise ValueError("Missing the required parameter `plan_id` when calling `update_client_plan_valuation`")  # noqa: E501
        # verify the required parameter 'valuation_id' is set
        if ('valuation_id' not in params or
                params['valuation_id'] is None):
            raise ValueError("Missing the required parameter `valuation_id` when calling `update_client_plan_valuation`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501
        if 'plan_id' in params:
            path_params['planId'] = params['plan_id']  # noqa: E501
        if 'valuation_id' in params:
            path_params['valuationId'] = params['valuation_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_api_key' in params:
            header_params['x-api-key'] = params['x_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2-authorization-code', 'oauth2-implicit', 'oauth2-password']  # noqa: E501

        return self.api_client.call_api(
            '/clients/{clientId}/plans/{planId}/valuations/{valuationId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PlanValuation',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
